
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }

header {
    background-color: #263d54;
    color: #bf1b27;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
       }

header img {
    max-width: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #bf1b27;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    justify-content: flex-end;
    position: relative;
}

li{
    display: block;
}
.slider {
    /* Estilos del slider */
}

.entrevistas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.entrevista {
    flex: 1;
    margin-right: 20px;
}
.entrevista img{
    max-height: 1000px;
    max-width: 500px;
}
.publicidad  {
    max-width: 20px;
}

footer {
    background-color: #263d54;
    color: #bf1b27;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 100px;
}

.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.redes-sociales img{
    max-height: 25px;
    align-items: center;
}

.noticiaspp {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.noticiapp {
    flex: 1;
    margin-right: 20px;
}
.noticiapp img{
    max-height: 1000px;
    max-width: 500px;
}
.copy { 
    font-weight: bold;
}
.noticiasc{
    display: inline;
}

.jugadores {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.jugador {
    flex: 1;
    margin-right: 20px;
}
.jugador img{
    max-height: 1000px;
    max-width: 500px;
}

.historia { 
    display: inline;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: inline;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .ubi {
    display: flex;
  }